body {
  background-color : #E1DAC3;
  font-size        : medium;
  font-family      : "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
h1 {
  color            : #333333;
  font-size        : xx-large;
}
table {
  border           : none;
  padding          : 0;
}
td {
  background-color : #FFFFFF;
  border-color     : #336633;
  border-width     : 0.3rem;
  border-style     : solid;
  border-radius    : 0.3rem;
  width            : auto;
  padding          : 0;
  line-height      : 2rem;
  position         : relative;
  font-family      : "Hiragino Maru Gothic ProN", "Meiryo", sans-serif;
}
input[type=button] {
  color            : #FFFFFF;
  background-color : #336633;
  border           : none;
  border-radius    : 0.3rem;
  font-size        : medium;
  width            : auto;
  padding          : 0.5rem 1rem;
}
input[type=checkbox] {
  display          : none;
}
label {
  display          : block;
  padding          : 0.8rem 0.5rem 0.3rem 0.5rem;
}
input:checked + label {
  background-color : #CCCCCC;
}
iframe {
  border           : 0;
}
.num{
  font-size        : 0.8rem;
  position         : absolute;
  right            : 0.5rem;
  bottom           : 0.1rem;
}


/* ここからタイマー用 */
.float-button-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
}

.circle-progress {
  position: absolute;
  width: 76px;
  height: 76px;
  transform: translate(-7px, -7px);
}

.float-button {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #4285f4;
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.float-button:hover {
  background: #3367d6;
}